/**
  全局样式放这里
 */
@import "./variables.scss";

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
}

.akm-no-padding {
  padding: 0 !important;
}

.akm-text-right {
  text-align: right;
}

.akm-text-left {
  text-align: left;
}

// 清除浮动
.akm-clear-fix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

/**
  开始-和业务有关的全局样式
 */
//
.akm-del-icon-question {
  color: #e6a23c;
  font-size: 16px;
  margin-right: 4px;
}

/**
  结束-和业务有关的全局样式
 */
/**
  开始-覆盖element-ui样式
 */
//
.el-popper[x-placement^=top], .el-popper[x-placement^=bottom] {
  margin: 0;
}

/**
  结束-覆盖element-ui样式
 */