/* theme color */
$--color-primary: rgb(64, 123, 219);

// base color
$blue:#324157;
$light-blue:#3A71A8;
$red:#f03;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;

$background-color: #f9f9f9;
$foreground-color: #fff;

// 字体颜色
$main-text-color: #333;
$sub-text-color: #bfcbd9;
$activeText:#409EFF;

// const
$login-container-width: 620px;
$login-container-height: 380px;

// page padding
$page-horizontal-padding: 60px;
$page-vertical-padding: 10px;

// top-menu
$top-menu-height: 60px;